.no-printers {
    text-align: center;
    padding-top: 4ex;
}

.printer-switch {
    float: right;
}

.printer-header h2 {
    margin-top: 0;
}

.printer-header h2 span {
    vertical-align: middle;
}

#fileupload-notif {
    text-align: center;
    color: white;
    padding: 20ex;
    font-size: 400%;
}

.printer-temperatures {
    width: 480px;
}

#temperatures-graph {
    margin: 1ex;
}

.printer-temperatures .clr-form-control {
    display: inline-block;
    padding: 2ex;
}

.printer-temperatures .clr-input {
    width: 5rem;
}
