<clr-main-container>
  <clr-header>
    <div class="branding">
      <a class="logo-and-title"><span class="title">DashPrint</span></a>
    </div>

    <div class="header-nav">

      <a href="javascript://" class="active nav-link nav-text">Print</a>
      <a href="javascript://" class="nav-link nav-text">Slice</a>

    </div>

    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </clr-header>

  <div class="content-container">

    <main *ngIf="selectedPrinter" class="content-area" (drop)="onFileDrop($event)"
          (dragenter)="onDragEnter($event)"
          (dragleave)="onDragLeave($event)"
          (dragover)="onDragOver($event)"
          [ngClass]="{'drag-over': dragOver}">

      <div class="modal-backdrop" *ngIf="dragOver"><div id="fileupload-notif">Drop a GCODE file</div></div>

      <div class="printer-header">
        <clr-dropdown [clrCloseMenuOnItemClick]="true" class="printer-switch">
        <button class="btn btn-link" clrDropdownTrigger>
          Switch printer
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu [clrPosition]="'bottom-right'">
          <h4 class="dropdown-header">Configured printers</h4>
          <button type="button" class="dropdown-item" *ngFor="let printer of printers" (click)="switchPrinter(printer)">{{ printer.name }}</button>
          <button *ngIf="!printers" type="button" class="dropdown-item disabled">No printers</button>
          <div class="dropdown-divider"></div>
          <button type="button" class="dropdown-item" (click)="addPrinter()">Add printer...</button>
        </clr-dropdown-menu>
      </clr-dropdown>

      <h2>
        {{ selectedPrinter.name }}

        <span *ngIf="selectedPrinter.connected" class="label label-success">Connected</span>
        <span *ngIf="selectedPrinter.stopped" class="label label-warning">Disabled</span>
        <span *ngIf="!selectedPrinter.stopped && !selectedPrinter.connected" class="label label-danger">Disconnected</span>
      </h2>

      <div class="btn-group btn-primary">
        <button *ngIf="selectedPrinter.stopped" (click)="startStopPrinter(selectedPrinter, true)" [disabled]="runningEnableDisable" class="btn btn-success">Enable</button>
        <button *ngIf="!selectedPrinter.stopped" (click)="startStopPrinter(selectedPrinter, false)" [disabled]="runningEnableDisable" class="btn btn-warning">Disable</button>
        <button (click)="editPrinter(selectedPrinter)" class="btn btn-outline">Edit</button>
      </div>

      <div *ngIf="selectedPrinter" class="printer-temperatures card">
        <div class="card-header">Temperatures</div>
        <div>
          <canvas width="450" height="300" id="temperatures-graph" #temperaturesGraph></canvas>
          
            <div class="clr-form-control">
              <label for="bed-target" class="clr-control-label">Bed Target Temp</label>
              <div class="clr-control-container clr-error">
                <div class="clr-input-wrapper">
                  <input type="text" id="bed-target" placeholder="°C" type="number" class="clr-input"
                    [value]='temperatures.B.target'
                    (input)='newTargetB = $event.target.value'
                    (keydown.enter)='setTargetTemperatures()'/>
                </div>
              </div>
            </div>

            <div class="clr-form-control">
              <label for="tool-target" class="clr-control-label">Tool Target Temp</label>
              <div class="clr-control-container clr-error">
                <div class="clr-input-wrapper">
                  <input type="text" id="tool-target" placeholder="°C" type="number" class="clr-input"
                    [value]='temperatures.T.target'
                    (input)='newTargetT = $event.target.value'
                    (keydown.enter)='setTargetTemperatures()'>
                </div>
              </div>
            </div>
          
            <button class="btn btn-primary" (click)="setTargetTemperatures()">Set</button>
        </div>
      </div>

      </div>
    </main>


    <main *ngIf="!printers || !printers.length" class="content-area no-printers">
      <h2>No printers</h2>
      <p><button type="button" class="btn btn-primary" (click)="addPrinter()">Add printer...</button></p>
    </main>
  </div>
</clr-main-container>

<ng-template #modals></ng-template>

