<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    {{ selectedPrinter ? selectedPrinter.name : 'NO PRINTER' }} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let printer of printers" role="menuitem"><a class="dropdown-item" href="#">{{ printer.name }}</a></li>
    <li *ngIf="printers?.length > 0" class="divider dropdown-divider"></li>
    <li role="menuitem" (click)="addPrinter()"><a class="dropdown-item" href="#">Add printer...</a></li>
  </ul>
</div>
