<clr-wizard [(clrWizardOpen)]="visible" clrWizardSize="lg">
  <clr-wizard-title>New Printer</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid">
    <ng-template clrPageTitle>Specify printer</ng-template>
    <form [formGroup]="formPageOne">
      <section class="form-block">
        <div class="form-group">
          <label class="required" for="discoveredPrinter">Serial device</label>

          <div class="select">
            <select id="discoveredPrinter" formControlName="selectedDevice" name="selectedDevice" (change)="onDeviceChanged()">
              <option *ngFor="let printer of discoveredPrinters" [ngValue]="printer">{{ printer.name }}</option>
              <!--<option value="custom">Custom device</option>-->
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="required" for="devicePath">Device path</label>
          <input type="text" id="devicePath" formControlName="devicePath" [readonly]="!selectedDevice || selectedDevice.path != 'custom'"  name="devicePath" size="35" />
        </div>

        <div class="form-group">
          <label class="required" for="baudRate">Baud rate</label>
          <input type="number" id="baudRate" formControlName="baudRate"  name="baudRate" min="1200" />
        </div>

        <div class="form-group">
          <label class="required" for="printerName">Name</label>
          <input type="text" id="printerName" formControlName="printerName" name="printerName" size="35"/>
        </div>
      </section>
    </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!formPageTwo.valid" (clrWizardPageOnCommit)="onCreate()" #finishPage>
    <ng-template clrPageTitle>Setup printer</ng-template>
    <form [formGroup]="formPageTwo">
      <section class="form-block">
        <div class="form-group">
          <label class="required" for="shape">Shape</label>
          <select id="shape" name="shape" formControlName="shape">
            <option value="rectangular">Rectangular</option>
            <option value="cylindrical">Cylindrical</option>
          </select>
        </div>

        <div class="form-group">
          <label class="required" for="width">Width (X)</label>
          <input type="number" id="width" formControlName="width" name="width" (change)="onDimensionsChanged()" /> mm
        </div>

        <div class="form-group">
          <label class="required" for="depth">Depth (Y)</label>
          <input type="number" id="depth" formControlName="depth" name="depth" (change)="onDimensionsChanged()" /> mm
        </div>

        <div class="form-group">
          <label class="required" for="height">Height (Z)</label>
          <input type="number" id="height" formControlName="height" name="height" (change)="onDimensionsChanged()" /> mm
        </div>

        <div id="printer-preview">
          <canvas #printerPreview width="300" height="300">
          </canvas>
        </div>
      </section>
    </form>
  </clr-wizard-page>
</clr-wizard>
